@using DoorsAn1.ViewModels
@model ProductListViewModel
@{
    Layout = "_LayoutProducts";
    ViewBag.Title = "Удаление товара";
}

<div>   
    <div class="container-wrapper">
        <h1>@Model.Product.Name</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    @if (Model.Product.Image != null)
                    {
                        <img style='width:100%' alt="image" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Product.Image))" />
                    }
                    else
                    {
                        <img style='width:100%' alt="image" src="../../Images/default.png" />
                    }
                </div>
                <h3>Подробнее</h3>
                <div class="col-md-5">
                    <p>@Model.Product.LongDescription</p>
                    <p>
                        <strong>Производитель</strong> : @Model.Product.Producer
                    </p>
                    <strong>Состояние</strong> : @(Model.Product.Status ? "В наличии" : "В наличии нет")
                    <h3>@Model.Product.Price.ToString("c")</h3>
                    @if (Model.Product.InStock != 0)
                    {
                        <div>Товар на акции: @Model.Product.InStock%</div>
                    }
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div>
        <form asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Product.ProductId" method="post">            
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Удалить" />
            </div>
        </form>
    </div>
</div>