@using DoorsAn1.ViewModels
@model ProductListViewModel
@{
    Layout = "_LayoutPersonalCabinet";
    ViewBag.Title = "Редактирование товара";
}
<div class="container">
    <h1>Редактировать товар</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="form-group">
            <div class="col-md-3">
                <div class="text-center">
                    @if (Model.Product.Image != null)
                    {
                        <img style='width:220px; height:200px;' class="avatar img-circle" alt="avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Product.Image))" />
                    }
                    else
                    {
                        <img style='width:100%' alt="image" src="../../Images/default.png" />
                    }
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Детали</h3>
            <form asp-action="edit" asp-controller="product" asp-route-id="@Model.Product.ProductId" enctype="multipart/form-data" class="form-horizontal" role="form">
                <input type="hidden" asp-for="@Model.Product.ProductId" /> 
                <input type="hidden" asp-for="@Model.Product.Image" /> 
                <div class="form-group">                    
                    <div class="col-lg-8">
                        <input asp-for="@Model.Product.Name" class="form-control" type="text" placeholder="Название">
                        <span class="field-validation-valid" asp-validation-for="@Model.Product.Name"></span>
                    </div>
                </div>
                <div class="form-group">                   
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select asp-for="@Model.Product.Category.CategoryId" asp-items="Model.FilterViewModel.Categories" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-lg-8">
                        <input asp-for="@Model.Product.Producer" class="form-control" type="text" placeholder="Производитель">
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-lg-8">
                        <input asp-for="@Model.Product.Price" class="form-control" type="number" placeholder="Цена">
                        <span class="field-validation-valid" asp-validation-for="@Model.Product.Price"></span>
                    </div>
                </div>
                <div class="form-group">                   
                    <div class="col-lg-8">
                        <input asp-for="@Model.Product.InStock" class="form-control" type="number" placeholder="Акция">
                    </div>
                </div>
                <div class="form-group">                   
                    <div class="col-md-8">
                        <textarea asp-for="@Model.Product.LongDescription" class="form-control" type="text" placeholder="Описание"></textarea>
                        <span class="field-validation-valid" asp-validation-for="@Model.Product.LongDescription"></span>
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-md-8">
                        <label asp-for="@Model.Product.Status">В наличии:</label>
                        <input type="checkbox" asp-for="@Model.Product.Status" />
                        <span class="field-validation-valid" asp-validation-for="@Model.Product.Status"></span>
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-md-8">
                        <input type="file" name="Image" class="form-control" />
                    </div>
                </div>
                <div class="form-group">                    
                    <div class="col-md-5">
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                        <span></span>
                        <a class="btn btn-default" asp-action="ListForAdmin" asp-controller="Product">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}