@using Microsoft.AspNetCore.Mvc.Rendering
@model ProductListViewModel

@{
    Layout = "_LayoutProducts";
}

<div>
    <h2>@Model.CurrentCategory</h2>
</div>

<form method="get">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 pull-right">   
                <div id="custom-search-input">
                    <div class="input-group col-md-12">                        
                        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { placeholder = "Введите название товара", @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit" value="Найти">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<br />

@{
    foreach (Product product in Model.Products)
    {
        @Html.Partial("Partial/ProductSummary", product)
    }
    @Html.ValidationMessage("CustomError", new { @style = "color:black" })
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="ListForAdmin"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"                   
                   class="page-link">Вперед</a>
            }
        </li>
    </ul>
</nav>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="ListForAdmin"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-category="@(Model.FilterViewModel.SelectedCategory)"                   
                   class="page-link">Назад</a>
            }
        </li>
    </ul>
</nav><br>

