@using Microsoft.AspNetCore.Mvc.Rendering
@model ProductListViewModel

@{
    Layout = "_LayoutProducts";
}

<div>
    <h2>Все товары</h2>
</div>

<form method="get">
    <div class="form-inline form-group pull-right">
        <label class="control-label">Имя: </label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })
        
        <input type="submit" value="Найти" class="btn btn-default" />
    </div>
</form>

<h2>@Model.CurrentCategory</h2>

    @{
        foreach (Product product in Model.Products)
        {
            @Html.Partial("Partial/ProductSummary", product)
        }
    }

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="ListForAll"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-category="@(Model.FilterViewModel.SelectedCategory)"       
       class="btn btn-secondary">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ListForAll"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-category="@(Model.FilterViewModel.SelectedCategory)"      
       class="btn btn-secondary">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
<br>

